body{
    background-color: lightsteelblue;
    color: salmon;
    font-family: "Bokor",system-ui;
   }
.chamada{
   background-color: lightseagreen;
   padding-top: 80px;
   padding-bottom: 80px;
   display: flex;
   justify-content: center;
   padding-left: 20px;
   padding-right: 20px;
   }
   .chamada-texto{
    margin-right: 10px;
   }
   h1{
    font-size: 30px;
   }
   p{
    font-size: 30px;
   }
   header{
    font-size: 30px;
    padding-left: 20px;
   }
   img{
    height: 200px;
   }
   .categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: thistle;
   }
   .cateoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
   }
h2{
    font-size: 30px;
}